.ReactTable .rt-tr.status-answer-correct {
  background: #dff5d0 !important; }

.ReactTable .rt-tr.status-unknown {
  background: #e2b3b3 !important; }

.ReactTable .rt-tr.status-answer-wrong, .ReactTable .rt-tr.status-answer-wrong-timeout, .ReactTable .rt-tr.status-global-timeout, .ReactTable .rt-tr.status-error-while-running, .ReactTable .rt-tr.status-compilation-failed {
  background: #f5d0d0 !important; }

.ReactTable .rt-tbody .rt-td.selected {
  background: repeating-linear-gradient(-55deg, rgba(0, 100, 100, 0.1) 0, rgba(0, 100, 100, 0.1) 2px, rgba(0, 255, 255, 0.1) 4px, rgba(0, 255, 255, 0.1) 6px);
  box-shadow: inset 0px 0px 5px 0px #17a2b8; }
