.student-result-detail {
  .hljs {
    font-size: 0.7em;
  }
}

.no-line-numbers {
  .linenums {
    padding: 5px;

    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L4,
    li.L5,
    li.L6,
    li.L7,
    li.L8,
    li.L9 {
      list-style-type: none;
      background: #fff;
    }
  }
}
.linenums {
  padding: 5px;
  padding-left: 40px;

  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    list-style-type: inherit;
    background: #fff;
  }
}

.prettyprint {
  font-size: 0.7em;

  &.hover-effect {
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L4,
    li.L5,
    li.L6,
    li.L7,
    li.L8,
    li.L9 {
      cursor: pointer;

      &:hover {
        background: rgb(245, 245, 226);
        &::before {
          color: #fff;
          background: rgb(31, 136, 255);
        }
      }

      &::before {
        content: "+";
        padding: 0 4px;
        margin: 1px 5px;
        background: transparent;
        color: transparent;
        display: inline-block;
        border-radius: 2px;
      }
    }
  }
}

.source-code {
  .avatar-inicials {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;

    &.odd {
      background: #008471;
    }

    &.even {
      background: #a2520d;
    }
  }

  .blob-code {
    height: 20px;
    line-height: 20px;
    padding: 1px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    white-space: pre;

    &.highlighted {
      background-color: #fffbdd;
    }
  }

  .blob-num {
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: rgba(27, 31, 35, 0.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;

    &:before {
      content: attr(data-line-number);
    }
  }
}

.unsaved .MuiDialog-paper {
  border: 10px solid #3f51b5;
}