$statuses: (
  answer-correct: #c0f3b3,
  answer-correct-timeout: #f0e097,
  ok: #efd3ff,
  running: #c6e9fa,
  unknown: #e2b3b3,
  answer-wrong: #f5d0d0,
  answer-wrong-timeout: #f5d0d0,
  global-timeout: #f5d0d0,
  error-while-running: #f5d0d0,
  compilation-failed: #f5d0d0,
  in-queue: #dadada,
  skipped: #dadada,
  no-solution: #dadada,
);

$diffs: (
  unchanged: #e6f1df,
  deleted: #ffd0d0,
  inserted: #ffd0d0,
  modified: #ffd0d0,
  1: #e6f1df,
  2: #ffd0d0,
  // unchanged: rgb(255, 255, 255),
  // deleted: rgb(255, 208, 208),
  // inserted: rgb(210, 255, 208),
  // modified: rgb(255, 208, 253),,,,,,,,,,,,,,,,,,,,,,,,
);

@media (min-width: 1600px) {
  .container {
    &.wide {
      max-width: 1440px;
    }
  }
}

@media (min-width: 1900px) {
  .container {
    &.wide {
      max-width: 1840px;
    }
  }
}

.breadcrumb-item.form-group {
  margin-bottom: 0rem;

  .form-control {
    width: unset;
    margin-bottom: 0;
    display: inline;
  }
}

.MuiLink-underlineNone,
.MuiLink-underlineNone:hover {
  text-decoration: none;
}

.card-select {
  .MuiButton-root {
    width: 100%;
    min-height: 140px;
    text-transform: none;

    .MuiButton-label {
      > div {
        width: 100%;
      }
    }
  }

  .MuiButton-text {
    padding: 16px;
  }
  .MuiButton-label {
    text-align: center;
  }

  .card-footer {
    background: #f3f3f3;
    display: block;
    width: 100%;
    font-size: 0.7rem;
    padding: 5px;
    text-align: center;
  }
}

.description {
  img {
    max-width: 100%;
  }
  pre {
    code {
      font-size: 87.5%;
      color: #e83e8c;
      word-break: break-word;
      background: #fbfbfb;
      display: block;
      padding: 1em;
      border-radius: 3px;
      border: 1px solid #c3c3c3;
    }
  }
}

.MuiListItemIcon-root {
  &.bigger {
    padding-right: 40px;

    .MuiSvgIcon-root {
      width: 1em;
      height: 1em;
      font-size: 2rem;
    }
  }
}

.MuiChip-root {
  @each $status, $color in $statuses {
    &.chip-#{$status} {
      background-color: darken($color, 40);
      color: white;
      height: 24px;
      margin-top: 4px;
    }
  }
}

.result-item {
  width: 100%;
  position: relative;
  overflow: hidden;

  &.with-comment {
    &::before {
      content: "COMMENT";
      font-size: 0.6rem;
      transform: rotate(-45deg);
      position: absolute;
      display: block;
      background-color: #ffc800;
      border: 1px solid darken(#ffc800, 5);
      box-shadow: 2px 2px 5px 0px #00000033;
      padding: 1px 25px;
      z-index: 1000;
      top: 20px;
      left: -22px;
    }
  }

  &.with-review {
    &::after {
      content: "REVIEW";
      font-size: 0.6rem;
      transform: rotate(-45deg);
      position: absolute;
      display: block;
      background-color: #aaf2ff;
      border: 1px solid darken(#aaf2ff, 5);
      box-shadow: 2px 2px 5px 0px #00000033;
      padding: 1px 20px;
      z-index: 999;
      top: 9px;
      left: -23px;
    }
  }

  .subresult {
    .MuiButton-root {
      min-width: 32px;
      height: 34px;
      width: 34px;
      border-radius: 50%;

      &:focus {
        outline: none;
      }
    }

    .status {
      @each $status, $color in $statuses {
        &.status-#{$status} {
          color: darken($color, 40);
          background: radial-gradient(white 35%, rgba(255, 255, 255, 0) 40%);
          transition: all 0.35s ease-in-out;

          .MuiCircularProgress-colorPrimary {
            color: darken($color, 40);
          }
        }
      }
    }
  }

  & > .status {
    margin: 4px;

    @each $status, $color in $statuses {
      &.status-#{$status} {
        background: linear-gradient(to right, white, lighten($color, 5));
        transition: all 0.35s ease-in-out;

        &:hover {
          background: linear-gradient(to right, white, darken($color, 5));
        }

        .MuiCircularProgress-colorPrimary {
          color: darken($color, 40);
        }

        .MuiListItemIcon-root.bigger {
          .MuiSvgIcon-root {
            color: white;
            padding: 4px;
            border-radius: 50%;
            background: darken($color, 40);
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
  }
}

.small > .MuiOutlinedInput-input,
.MuiOutlinedInput-input.small {
  padding: 11px 14px;
}

.MuiTooltip-popper > .MuiTooltip-tooltip {
  font-size: 0.7rem;
}

.source-code.diff {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 10px;

  .blob-num {
    width: 50px;
    cursor: default;
  }

  tr {
    width: 100%;
  }

  .line {
    padding: 0 5px;
    font-size: 17px;
    line-height: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;

    .space {
      font-size: 0.0001rem;
      line-height: 0;

      &::before {
        content: "\b7";
        font-size: 17px;
        color: #bbb;
        white-space: pre;
        display: inline-block;
      }
    }

    @each $status, $color in $diffs {
      &.line-#{$status} {
        background: linear-gradient(to left, white, $color);
      }
    }
  }
}

.diff-legend {
  hr {
    margin: 5px 0;
  }
  .diff-legend-items {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    align-content: center;
    height: 30px;

    .line {
      margin: 10px;
      display: flex;
      align-items: center;
      margin-left: 25px;

      .label {
        display: inline-block;
        height: 20px;
      }

      .square {
        font-size: 1.3rem;
        border: 1px dashed #000;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;

        @each $status, $color in $diffs {
          &.line-#{$status} {
            background-color: $color;
          }
        }
      }
    }
  }
}

.MuiButtonBase-root.MuiFab-root {
  &.pending-changes {
    position: relative;
    bottom: 15px;
    right: 15px;
  }
}

.MuiSvgIcon-root.expand-icon,
.expand-icon {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: rotate(0deg);

  &.expanded {
    transform: rotate(180deg);
  }
}

.expand-content {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.collapsed {
    max-height: 0px;
    min-height: 0px;
  }

  &.expanded {
    max-height: 300px;
    min-height: 0px;
  }
}

.MuiTab-root.tab-separator {
  pointer-events: none;
  height: 20px;
  min-height: 20px;
  border-bottom: 1px solid #b1b1b1;
  padding: 0 15px;
  margin: 8px 0;
  position: relative;

  &::after {
    content: attr(title);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.6rem;
  }
}

.button-group {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 4px 0 1rem 0;
  height: 48px;
  align-items: flex-end;
  position: relative;

  &.with-label {
    height: 64px;
    &::before {
      content: attr(data-title);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.7rem;
    }
  }
}

.MuiButton-root.MuiToggleButton-root {
  border: none;
  margin: 6px 2px;
  padding: 0px 8px;
  height: 40px;
  min-width: 40px;

  &:first-child {
    margin-left: 6px;
    margin-right: 2px;
  }

  &:last-child {
    margin-right: 6px;
    margin-left: 2px;
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.12);
    // box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.46);

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

a.MuiButtonBase-root:hover {
  color: inherit;
  text-decoration: none;
}

div.MuiMenu-paper {
  min-width: 250px;
}

.MuiButtonBase-root.btn-fullscreen,
.btn-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

.opa5,
.MuiTab-textColorInherit.opa5 {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.MuiFormControl-root.form-control-editor,
.form-control-editor {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.MuiFormControl-root {
  &.fullscreen {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    z-index: 9999;

    &::before {
      content: " ";
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    & > #ace-editor {
      width: 100% !important;
      height: 100% !important;
      z-index: 998;
    }
  }
}

.file-explorer.MuiTabs-root {
  min-width: 200px;

  &.dynamic-files {
    min-height: 33px;
    button.MuiButtonBase-root {
      min-height: 33px;
    }
  }

  button.MuiButtonBase-root {
    min-height: 24px;
    padding: 4px;
    min-width: 130px;

    &[aria-selected="true"] {
      background-color: #e6e6e6;
    }

    &:focus {
      outline: none;
    }

    .MuiTab-wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.7rem;
      text-transform: none;

      .MuiSvgIcon-root {
        margin: 0;
      }
      // font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    }
  }
}

.grow {
  flex-grow: 1;
}

.tiny,
.MuiTypography-root.tiny {
  font-size: 60%;

  &.MuiSvgIcon-root {
    font-size: 130%;
  }
}

.MuiBox-root.dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out, padding 0.24s ease-in-out;

  p {
    padding: 0;
    margin: 0;
  }

  &.dropzone-active {
    padding: 30px 20px;
    border-color: #28601f;
  }
}

.CodeMirror {
  font-size: 12px;
}

.fullscreen .react-codemirror2,
.fullscreen .CodeMirror {
  height: calc(100% - 0px);
}

.tab-file-editor.MuiAppBar-root {
  background-color: #f7f7f7;
  color: black;
  border-bottom: 4px solid white;
  z-index: 0;
  box-shadow: none;

  .MuiTabs-root {
    min-height: 26px;

    .MuiButtonBase-root {
      line-height: 26px;
      min-height: 26px;
      font-size: 0.8em;
      text-transform: none;
      min-width: 80px;
    }
  }
  .MuiTabs-indicator {
    background-color: #003bae;
    height: 3px;
  }
}

.MuiBreadcrumbs-root.breadcrumb {
  background-color: #efefef;
  margin-bottom: 0.5rem;

  .MuiLink-root,
  .MuiTypography-root {
    display: flex;
  }
}

.MuiSvgIcon-root.tiny-icon {
  font-size: 1rem;
}

.h-30 {
  height: 30px;
  line-height: 30px;
  display: block;
}

.result-status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;

  .result-status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 9px;
    padding-top: 5px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 2px;

    &.result-status-0 {
      background-color: rgb(231, 63, 63);
    }
    &.result-status-1 {
      background-color: rgb(56, 185, 56);
    }
  }
}

.card-select {
  .item-BeforeStart {
  }
  .item-Active {
  }
  .item-ActiveLate {
    opacity: 0.75;
  }
  .item-AfterDeadline {
    opacity: 0.75;
  }
}

.MuiBadge-badge {
  &.small {
    height: 6px;
    min-width: 6px;

    &.MuiBadge-anchorOriginTopLeftRectangle {
      top: 3px;
    }
  }

  &.state-connected {
    background-color: #36b423;
    box-shadow: 0px 0px 10px 2px #36b423;
  }
  &.state-connecting {
    background-color: #cf9c23;
    box-shadow: 0px 0px 10px 2px #cf9c23;
  }
  &.state-closed {
    background-color: #e90e0e;
    box-shadow: 0px 0px 10px 2px #e90e0e;
  }
}

a.notification-item {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notification-body {
  p {
    margin: 0;
    padding: 0;
  }
  code {
    font-weight: bold;
    color: #3f51b5;
    font-size: 100%;
  }
}

.MuiAppBar-root.is-student {
  background: linear-gradient(90deg, #3f51b5 0%, #293a9c 100%);
}

.MuiAppBar-root.is-root {
  background: linear-gradient(90deg, #9c2626 0%, #8c1c1c 100%);
}

.final-grade {
  padding: 0.5rem 1rem;
  flex-grow: 1;
  background: linear-gradient(90deg, #e0e0e063 0%, #00000000 100%);
  border-radius: 4px;
}

.styled {
  .MuiToggleButton-root {
    color: rgb(0, 0, 0);
    border: 1px solid #00000052;
  }
  &.color-a {
    .Mui-selected {
      background-color: #2b3c9e26;
    }
  }
  &.color-b {
    .Mui-selected {
      background-color: #9e2b6126;
    }
  }
}

.MuiBadge-root.queue-badge {
  .MuiBadge-badge {
    opacity: 0.8;
    height: 12px;
    width: 18px;
    min-width: 18px;
    font-size: 0.5rem;

    .MuiSvgIcon-root {
      font-size: 14px;
    }
  }
}

.notification-container {
  top: 56px !important;
}

.MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle {
  top: 4px;
}

.with-pointer-events {
  pointer-events: all;
}

.main-container {
  margin-bottom: 56px;
}

.MuiToolbar-dense.denser {
  min-height: 32px;
}

.slack-icon {
  fill: #f50057;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.MuiButtonBase-root
{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    .slack-icon {
      fill: #000000;
    }
  }
}
.MuiButton-endIcon.MuiButton-iconSizeSmall {
 margin-left: 2px;
}
.icon-holder {
  display: flex;
  align-items: center;
}

.data-export .Spreadsheet__cell, 
.data-export .Spreadsheet__header {
    min-height: 24px;
    height: 24px;
    max-height: 24px;
    padding: 2px;
    font-size: 14px;
}

.data-export .Spreadsheet__data-editor,
.data-export .Spreadsheet__data-editor input {
    width: 98%;
    height: 98%;
    font-size: 14px;
}

.data-export .Spreadsheet__active-cell {
  padding: 2px;
}