.student-result-list-wrapper {
    .student-result-list {
        flex: 1 1;
    }

    .student-result-detail {
        flex: 1 1;
    }

    display: flex;
}

.forbidden {
    cursor: not-allowed;
}