.student-result-list-wrapper {
    .student-result-list {
        flex: 1 1;
    }

    .student-result-detail {
        flex: 1 1;
    }

    display: flex;
}

.forbidden {
    cursor: not-allowed;
}

.color-bar {
    display: block;
    width: 100%;
    height: 4px;
    filter: saturate(0.9) brightness(0.8);
}
