AUTHSERVICE_AES_KEY=
AUTHSERVICE_ALLOWED_RETURN_URLS=https://code-critic.nti.tul.cz/home/login
AUTHSERVICE_DEFAULT_RETURN_URL=https://code-critic.nti.tul.cz/home/login
AUTHSERVICE_SUPPORT_EMAIL=pavel.exner@tul.cz
AUTHSERVICE_EPPN_HEADER=X-Remote-Eppn
AUTHSERVICE_AFFILIATION_HEADER=X-Remote-Affiliation
AUTHSERVICE_DISPLAY_NAME_HEADER=X-Remote-Display-Name
AUTHSERVICE_IDP_HEADER=X-Remote-Identity-Provider
AUTHSERVICE_LOG_LEVEL=INFO
